.discover-swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;

  .discover-audio-main {
    width: 100%;
    height: 100%;
    display: flex
  }

  .discover-audio {
    width: 100%;
    // margin: auto 0;
    margin-top: auto;
    margin-bottom: 180px;
    z-index: -1;
  }

  .discover-actions {
    position: absolute;
    right: 0;
    top: 25%;

    .discover-action {
      margin-top: 25px;
      margin-right: 20px;
      text-align: center;
    }

    .discover-user-icon {
      margin-bottom: 40px;
    }

    .discover-action-icon {
      width: 80px;
      height:80px;
      line-height: 80px;
      background-color: #555;
      border-radius: 50%;
    }
    .discover-action-number {
      text-align: center;
    }
  }

  .discover-footer {
    position: absolute;
    width: 100%;
    // padding-bottom: 40px;
    bottom: 0;

    .discover-user-name {
      padding: 20px 30px;
    }
    .discover-desc {
      padding: 0 30px 20px;
    }

    .discover-play-line {
      width: 100%;

      .discover-play-progress {
        width: 100%;
      }
    }
  }

  /* customize_components/co-audio/co-audio.wxss */
  .co-audio-wrap{
  }
  /*声音海报*/
  .co-audio-wrap .poster-wrap{
    text-align: center;
    margin-bottom: 10px;
  }
  .co-audio-wrap .poster{
    width: 65%;

  }

  /*声音描述*/
  .text-wrap{
    text-align: center;
    margin-bottom: 40px;
  }
  .audio-name{
    font-size: 34px;
    color: #333;
  }
  .audio-author{
    font-size: 26px;
    color: #ddd;
  }
  /*播放器*/
  .player{
    width: 92%;
    border: 1px solid #eee;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    box-sizing: border-box;
    margin-top: 10px;
    background: #fcfcfc;
  }
  .player image {
    width: 60px;
    height: 60px;
  }
  .player .slider{
    flex: 1;
  }
  .player .time{
    width: 25%;
    font-size: 22px;
    color: #666;
  }

}
